<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <meta charset="UTF-8">
    <title>🐈 DevOps demo</title>
</head>
<body>
    <div id="main">
        <div id="text">
            <h1 id="title">DevOps Demo</h1>
            <div id="content">
                <p>
                    This is a demo website for the course DD2482 Automated testing and DevOps at KTH. The application
                    uses Azure DevOps to run automated tests, build the application, and deploy it in the cloud.
                    We use Docker to install dependencies and ensure a consistent development environment.
                </p>
                <p>
                    This demo was developed by Emma Good, egood@kth.se and Sara Ersson, saraers@kth.se.
                </p>
                <p>
                    This is version 5.0.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
